body {
	margin: 20px;
}


/*==============================================
Control Panal
==============================================*/

.avatar {
	grid-area: avatar;
	/*background-color: pink;*/
}

#avatar-img {
	margin: 0 75px 0 30px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
    margin: 0 0 0 75px;
    cursor: pointer;
    color: blue;
}

.input-file + label:hover {
	color: green;
}