body {
	margin: 0px;
	width: 100%;
	font-family: 'Jost', sans-serif;
	padding: auto;
}

#header {
	margin: 15px auto 10px auto;
	width: 700px;
	vertical-align: top;
}

#header-title {
	margin: 0 150px 0 0;
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	color: rgb(180,180,180);
	float: left;
}

#header-text {
	margin-top: 0px;
}

.header-element {
	display: inline;
	width: 50%;
}

#subheader {
	margin: 5px auto 15px auto;
	width: 700px;
	padding: 10px 0;
}

.subheader-button {
	padding: 4px 15px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	color: rgb(70,70,70);
	display: inline;
}

#suheader-button-account {
	background-color: rgb(0,225,255);
}

#suheader-button-events {
	background-color: rgb(255,255,0);
}

#suheader-button-help {
	background-color: rgb(255,0,255);
}

#content {
	margin: 0px auto 15px auto;
	width: 700px;
	padding: 0px 20px 0px 20px;

	border: 1px solid rgb(200,200,200);
	border-radius: 10px;
}

h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color: rgb(150,150,150);
	margin: 15px 0px 0px 0px;
}

.section-title {
	font-size: 18px;
}



/*==============================================
Form elements
==============================================*/

.newEvent-element {
	width: 90%;
	height: 40px;
	margin: 0px;
	padding: 0px;
}

.newEvent-label {
	width: 55%;
	height: 40px;
	float: left;
	padding: 3px 3px 0 15px;
}

.newEvent-input {
	height: 40px;
}

.text-input {
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	padding: 5px;
	height: 23px;
	border: none;
	border-bottom: 1px solid rgb(100,100,100);
	background-color: rgb(200,200,200);
}

.dropdown-list {
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	padding: 5px;
	height: 50px;
	border: 1px solid green;
}

.form-button {
	margin: 50px;
	padding: 4px 15px;
	border: 1px solid rgba(0, 0, 0, 0);
	background-color: rgb(255,71,25);
	border-radius: 2px;
	color: rgb(200,200,200);
	font-family: 'Jost', sans-serif;
	font-size: 16px;
}


/*==============================================
Control Panel
==============================================*/

.avatar {
	grid-area: avatar;
	/*background-color: pink;*/
}

#avatar-img {
	margin: 0 75px 0 30px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
    margin: 0 0 0 75px;
    cursor: pointer;
    color: blue;
}

.input-file + label:hover {
	color: green;
}


/*==============================================
Control Panel - List of events
==============================================*/

#table-events {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed; /* Spreads the TDs evenly accross the width of the table */
}

#table-events table, #table-events th, #table-events td {
	border-bottom: 1px solid #ddd;
}

#table-events th {
	background-color: rgb(227,227,227);
	text-align: left;
	font-weight: normal;
}

#table-events th, #table-events td {
	height: 30px;
	padding: 5px 10px;
	vertical-align: middle;
}

#table-events tr:hover {
	background-color: #f5f5f5;
}